<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Websocket Monitor</title>
    <link rel="icon" type="image/x-icon" th:href="@{/api/favicon.ico}">
    <link rel="stylesheet" th:href="@{/api/css/dashboard.css(v=${version})}">

    <!-- STOMP library -->
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
</head>

<body>
    <header>
        <div>
            <div class="title-container">
                <img th:src="@{/api/favicon.ico}" alt="Logo" class="header-logo">
                <h1>Monitoring Dashboard of portfolio-backend</h1>
            </div>
            <p id="serverStartTime" th:text="'Server is up since ' + ${serverStartTime}" class="metric-value">N/A</p>
            <p>Server Time Zone: <span th:text="${serverTimeZone}">00:00</span></p>
        </div>
        <div>
            <a th:href="${frontendUrl}" target="_blank" class="jump-link">jump to frontend &rarr;</a>
            <p>Environment: <span class="badge" th:text="${environment}">DEV (html)</span></p>
            <p>Logged User: <strong th:text="${username}">Guest (html)</strong></p>

        </div>
    </header>

    <section class="controls-container">
        <h2>Locally Raw WebSocket</h2>
        <div class="control-group">
            <fieldset id="wsFieldset" th:classappend="${wsConnected} ? 'pressed' : 'off'">
                <legend id="wsLegend" th:text="${wsConnected} ? 'websocket-on' : 'websocket-off'"></legend>
                <button id="wsButton" th:text="${wsConnected} ? 'Disconnect' : 'Connect'"></button>
            </fieldset>
        </div>
        <div class="control-group">
            <input type="text" id="messageInput" placeholder="Type a message..." class="input-field">
            <button id="sendBtn" onclick="sendWSMessageFromBackend()" class="btn btn-send">Send Message</button>
        </div>
    </section>
    <section class="controls-container">
        <div id="dashboard">
            <h2>Received Websocket Messages</h2>
            <h3 style="color:darkgrey">Max 10 recent messages:</h3>
            <div id="messageContainer" th:utext="${messages}">
                <!-- Messages dynamically loaded -->
            </div>
        </div>
    </section>

    <section class="controls-container">
        <div id="dashboard">
            <h2>Websocket Messages for Archiving</h2>
            <h3 style="color:darkgrey">Max 10 messages to archive:</h3>
            <div id="archiveMessageContainer" th:utext="${messagesToArchive}">
                <!-- Messages dynamically loaded -->
            </div>
        </div>
    </section>

    <footer>
        <p th:text="'version ' + ${version} + ' (' + ${buildDate} + ')'"></p>
        <p>&copy; 2026 All rights reserved (developed by Agnes Velemi)</p>
    </footer>
    <script th:src="@{/api/js/dashboard.js(v=${version})}"></script>
</body>

</html>